name: security

on:
  workflow_dispatch:
    inputs:
      repository:
        description: 'Repository to scan Default'
        required: true
        default: 'vns-website-v2'
      ref:
        description: 'Branch'
        required: true
        default: 'develop'

permissions:
  actions: read
  contents: write
  security-events: write

env:
  TRIVY_SEVERITY: "HIGH,CRITICAL"
  TRIVY_IGNORE_UNFIXED: "false"
  DT_PROTO: ${{ secrets.DTRACK_PROTOCOL }}
  DT_HOST: ${{ secrets.DTRACK_HOSTNAME }}
  DT_PORT: ${{ secrets.DTRACK_PORT }}
  DT_API_KEY: ${{ secrets.DTRACK_API_KEY }}

jobs:
  trivy_gate:
    name: Trivy Gate (fail-fast)
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout target repo
        uses: actions/checkout@v4
        with:
          repository: 'Vietnam-Silicon/${{ github.event.inputs.repository }}'
          token: ${{ secrets.GHA_CICD_TOKEN }}
          ref: '${{ github.event.inputs.ref }}'
          persist-credentials: false

      - name: Trivy FS scan (fail on HIGH/CRITICAL)
        uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: 'fs'
          scan-ref: '.'
          format: 'table'
          severity: ${{ env.TRIVY_SEVERITY }}
          ignore-unfixed: ${{ env.TRIVY_IGNORE_UNFIXED }}
          exit-code: '0'
          hide-progress: 'true'

      - name: Generate CycloneDX SBOM
        uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: 'fs'
          scan-ref: '.'
          format: 'cyclonedx'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
          exit-code: 0
          output: 'sbom.json'

      - name: Upload SBOM to Dependency-Track
        uses: DependencyTrack/gh-upload-sbom@v3
        with:
          protocol: ${{ secrets.DTRACK_PROTOCOL }}
          serverHostname: ${{ secrets.DTRACK_HOSTNAME }}
          port: ${{ secrets.DTRACK_PORT }}
          apiKey: ${{ secrets.DTRACK_API_KEY }}
          projectName: 'Vietnam-Silicon/${{ github.event.inputs.repository }}'
          projectVersion:  ${{ steps.ver.outputs.version }}
          bomFilename: '${{ github.workspace }}/sbom.json'
          autoCreate: true